name: Jar File Build

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write  # 'write' 권한 추가

jobs:
  create-tag:
    runs-on: ubuntu-latest
    env:
      PROJECT: Kong
      CLASS: prod
      CODE_KIND: API
      DEPLOY_ARCHIVE_FILE: ROOT.jar
      ECS_BUILD_ARTIFACT_FILE: imagedefinitions.json
      AWS_ACCOUNT_ID: 890742611047
      AWS_REGION: ap-northeast-2
      S3_BUCKET_NAME: sun-ecs-s3
      S3_BUILD_ARCHIVE_PATH: build
      S3_BUILD_ARTIFACT_PATH: artifact
      ECR_REPO: sun-test
      ECR_URL: dkr.ecr.ap-northeast-2.amazonaws.com
      ECS_CLUSTER_NAME: sun-ecs
      ECS_SERVICE_NAME: sun-ecs-service
      ECS_TASK_DEFINITION: sun-ecs-task
      DOCKER_FILE: DockerFile
    steps:
    - name: Checkout repository For Create Tag
      uses: actions/checkout@v4

    - name: Set up Git
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"

    - name: Generate Tag, Env OutPut Config
      id: generate_tag
      run: |
        USER_NAME="${{ github.actor }}"                                           # GitHub Push User (Action Trigger User)
        DATE=$(date +'%Y%m%d_%H%M')
        TAG_NAME="${PROJECT}-${CODE_KIND}-${USER_NAME}-${DATE}"
        echo "Generated Tag: $TAG_NAME"                                           # Tag Check
        echo "TAG_NAME=$TAG_NAME" >> $GITHUB_ENV                                  # Git TAG Push 용도 환경 변수 설정
        echo "tag_name=$TAG_NAME" >> $GITHUB_OUTPUT                               # Build Image Tag 용도 Output 설정

    - name: Authenticate with GIT_TOKEN
      run: |
        git remote set-url origin https://x-access-token:${{ secrets.GIT_TOKEN }}@github.com/${{ github.repository }}
        
    - name: Create and push tag
      run: |
        git tag ${{ env.TAG_NAME }}                   # Tag
        git push origin ${{ env.TAG_NAME }}           # Push
        
    outputs:
      tag_name: ${{ steps.generate_tag.outputs.tag_name }}  # Generate Tag Output
      class: ${{ env.CLASS }}
      project: ${{ env.PROJECT }}
      code_kind: ${{ env.CODE_KIND }}
      deploy_archive_file: ${{ env.DEPLOY_ARCHIVE_FILE }}
      ecs_build_artifact_file: ${{ env.ECS_BUILD_ARTIFACT_FILE }}
      aws_account_id: ${{ env.AWS_ACCOUNT_ID }}
      aws_region: ${{ env.AWS_REGION }}
      s3_bucket_name: ${{ env.S3_BUCKET_NAME }}
      s3_build_archive_path: ${{ env.S3_BUILD_ARCHIVE_PATH }}
      s3_build_artifact_path: ${{ env.S3_BUILD_ARTIFACT_PATH }}
      ecr_repo: ${{ env.ECR_REPO }}
      ecr_url: ${{ env.ECR_URL }}
      docker_file: ${{ env.DOCKER_FILE }}
      ecs_cluster_name: ${{ env.ECS_CLUSTER_NAME }}
      ecs_service_name: ${{ env.ECS_SERVICE_NAME }}
      ecs_task_definition: ${{ env.ECS_TASK_DEFINITION }}
  jar-build:
    runs-on: ubuntu-latest
    needs: create-tag
    env:
      TAG_NAME: ${{ needs.create-tag.outputs.tag_name }}
      CLASS: ${{ needs.create-tag.outputs.class }}
      PROJECT: ${{ needs.create-tag.outputs.project }}
      CODE_KIND: ${{ needs.create-tag.outputs.code_kind }}
      AWS_REGION: ${{ needs.create-tag.outputs.aws_region }}
      S3_BUCKET_NAME: ${{ needs.create-tag.outputs.s3_bucket_name }}
      S3_BUILD_ARCHIVE_PATH: ${{ needs.create-tag.outputs.s3_build_archive_path }}
    steps:    
    - name: Checkout repository For Jar Build
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'corretto'
        cache: maven
        java-package: jdk
        check-latest: false
        overwrite-settings: true
        job-status: success

    - name: Set up AWS credentials For Upload jar File To S3
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Jar Build with Maven
      run: | 
        mvn clean package

    - name: Upload JAR to S3
      run: aws s3 cp target/*.jar s3://${{ env.S3_BUCKET_NAME }}/${{ env.CLASS }}/${{ env.PROJECT }}/${{ env.CODE_KIND}}/${{ env.S3_BUILD_ARCHIVE_PATH }}/${{ env.TAG_NAME }}.jar

  docker-image-build:
    runs-on: ubuntu-latest
    needs:                                                  # Tag 참조를 위해 needs 추가        
      - create-tag  
      - jar-build
    env:
      TAG_NAME: ${{ needs.create-tag.outputs.tag_name }}
      CLASS: ${{ needs.create-tag.outputs.class }}
      PROJECT: ${{ needs.create-tag.outputs.project }}
      CODE_KIND: ${{ needs.create-tag.outputs.code_kind }}
      DEPLOY_ARCHIVE_FILE: ${{ needs.create-tag.outputs.deploy_archive_file }}
      ECS_BUILD_ARTIFACT_FILE: ${{ needs.create-tag.outputs.ecs_build_artifact_file }}
      AWS_ACCOUNT_ID: ${{ needs.create-tag.outputs.aws_account_id }}
      AWS_REGION: ${{ needs.create-tag.outputs.aws_region }}
      S3_BUCKET_NAME: ${{ needs.create-tag.outputs.s3_bucket_name }}
      S3_BUILD_ARCHIVE_PATH: ${{ needs.create-tag.outputs.s3_build_archive_path }}
      S3_BUILD_ARTIFACT_PATH: ${{ needs.create-tag.outputs.s3_build_artifact_path }}      
      ECR_REPO: ${{ needs.create-tag.outputs.ecr_repo }}
      ECR_URL: ${{ needs.create-tag.outputs.ecr_url }}
      ECS_CLUSTER_NAME: ${{ needs.create-tag.outputs.ecs_cluster_name }}
      ECS_SERVICE_NAME: ${{ needs.create-tag.outputs.ecs_service_name }}
      ECS_TASK_DEFINITION: ${{ needs.create-tag.outputs.ecs_task_definition }}
      DOCKER_FILE: ${{ needs.create-tag.outputs.docker_file }}

    steps:
    - name: Checkout repository For Docker Image Build
      uses: actions/checkout@v4      

    - name: Set up AWS credentials For Docker Build
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Download JAR from S3
      run: aws s3 cp s3://${{ env.S3_BUCKET_NAME }}/${{ env.CLASS }}/${{ env.PROJECT }}/${{ env.CODE_KIND}}/${{ env.S3_BUILD_ARCHIVE_PATH }}/${{ env.TAG_NAME }}.jar $GITHUB_WORKSPACE/$DEPLOY_ARCHIVE_FILE

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Check tag name
      run: echo "Tag from create-tag / ${{ needs.create-tag.outputs.tag_name }}"

    - name: ECR Login
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Docker Image Build and Push to ECR
      run: |
        docker build -t ${{ env.AWS_ACCOUNT_ID }}.${{ env.ECR_URL }}/${{ env.ECR_REPO }}:${{ env.TAG_NAME }} -f $GITHUB_WORKSPACE/$DOCKER_FILE $GITHUB_WORKSPACE/
        docker push ${{ env.AWS_ACCOUNT_ID }}.${{ env.ECR_URL }}/${{ env.ECR_REPO }}:${{ env.TAG_NAME }}

    - name: Generate ${{ env.ECS_BUILD_ARTIFACT_FILE }}
      run: |
        echo '[{"name":"${{ env.TAG_NAME }}","imageUri":"${{ env.AWS_ACCOUNT_ID }}.${{ env.ECR_URL }}/${{ env.ECR_REPO }}:${{ env.TAG_NAME }}"}]' > ${{ env.ECS_BUILD_ARTIFACT_FILE }}

    - name: Upload ${{ env.ECS_BUILD_ARTIFACT_FILE }} to S3
      run: |
        aws s3 cp ${{ env.ECS_BUILD_ARTIFACT_FILE }} s3://${{ env.S3_BUCKET_NAME }}/${{ env.CLASS }}/${{ env.PROJECT }}/${{ env.CODE_KIND}}/${{ env.S3_BUILD_ARTIFACT_PATH }}/

    - name: Check AWS CLI version
      run: aws --version

    - name: Update ECS Service
      run: |
        # 기존 태스크 정의 가져오기
        TASK_DEFINITION=$(aws ecs describe-task-definition --task-definition ${{ env.ECS_TASK_DEFINITION }})

        # 환경 변수 설정
        IMAGE_URI="${{ env.AWS_ACCOUNT_ID }}.${{ env.ECR_URL }}/${{ env.ECR_REPO }}:${{ env.TAG_NAME }}"

        # 불필요한 필드 제거
        STRIPPED_TASK_DEFINITION=$(echo "$TASK_DEFINITION" | jq '
          del(
            .taskDefinitionArn,
            .revision,
            .status,
            .registeredAt,
            .registeredBy,
            .requiresAttributes,
            .compatibilities
          )
        ')
        # 이미지 변경
        NEW_TASK_DEFINITION=$(echo "$STRIPPED_TASK_DEFINITION" | jq --arg image_uri "$image_uri" '.containerDefinitions[0].image = $image_uri')

        # 새로운 태스크 정의 등록
        # NEW_TASK_DEFINITION=$(aws ecs register-task-definition $NEW_TASK_DEFINITION)
        echo "$NEW_TASK_DEFINITION" | aws ecs register-task-definition --cli-input-json file:///dev/stdin

        # # 서비스 업데이트
        # aws ecs update-service \
        #   --cluster ${{ env.ECS_CLUSTER_NAME }} \
        #   --service ${{ env.ECS_SERVICE_NAME }} \
        #   --task-definition $NEW_TASK_DEFINITION_REVISION
