name: Jar File Build

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write  # 'write' 권한 추가

jobs:
  create-tag:
    runs-on: ubuntu-latest
    env:
      PROJECT: Kong
      CODE_KIND: API
    steps:
    - name: Checkout repository For Create Tag
      uses: actions/checkout@v4

    - name: Set up Git
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"

    - name: Generate Tag
      id: generate_tag
      run: |
        USER_NAME="${{ github.actor }}"              # GitHub Push User (Action Trigger User)
        DATE=$(date +'%Y%m%d_%H%M')
        TAG_NAME="${PROJECT}-${CODE_KIND}-${USER_NAME}-${DATE}"
        echo "Generated Tag: $TAG_NAME"              # Tag Check
        echo "TAG_NAME=$TAG_NAME" >> $GITHUB_ENV     # Git TAG Push 용도 환경 변수 설정
        echo "tag_name=$TAG_NAME" >> $GITHUB_OUTPUT  # Build Image Tag 용도 Output 설정

    - name: Authenticate with GIT_TOKEN
      run: |
        git remote set-url origin https://x-access-token:${{ secrets.GIT_TOKEN }}@github.com/${{ github.repository }}
        
    - name: Create and push tag
      run: |
        git tag ${{ env.TAG_NAME }}                   # Tag
        git push origin ${{ env.TAG_NAME }}           # Push
        
    outputs:
      tag_name: ${{ steps.generate_tag.outputs.tag_name }} 

  jar-build:
    runs-on: ubuntu-latest
    needs: create-tag
    env:
      TAG_NAME: ${{ needs.create-tag.outputs.tag_name }}
      AWS_REGION: ap-northeast-2
      S3_BUCKET: sun-ecs-s3
    steps:    
    - name: Checkout repository For Jar Build
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'corretto'
        cache: maven
        java-package: jdk
        check-latest: false
        overwrite-settings: true
        job-status: success

    - name: Set up AWS credentials For Upload jar File To S3
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Jar Build with Maven
      run: mvn clean package

    - name: Upload JAR to S3
      run: aws s3 cp target/*.jar s3://${{ env.S3_BUCKET }}/${{ env.TAG_NAME }}.jar

  docker-image-build:
    runs-on: ubuntu-latest
    needs:                                                  # Tag 참조를 위해 needs 추가        
      - create-tag  
      - jar-build
    env:
      ECR_REPO: sun-test
      AWS_ACCOUNT_ID: 890742611047
      AWS_REGION: ap-northeast-2
      ECR_URL: dkr.ecr.ap-northeast-2.amazonaws.com
      TAG_NAME: ${{ needs.create-tag.outputs.tag_name }}
      DEPLOY_ARCHIVE_FILE: ROOT.jar
      S3_BUCKET: sun-ecs-s3
      DOCKER_FILE: DockerFile

    steps:
    - name: Checkout repository For Docker Image Build
      uses: actions/checkout@v4      

    - name: Set up AWS credentials For Docker Build
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Download JAR from S3
      run: aws s3 cp s3://${{ env.S3_BUCKET }}/${{ env.TAG_NAME }}.jar $GITHUB_WORKSPACE/$DEPLOY_ARCHIVE_FILE

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Check tag name
      run: echo "Tag from create-tag / ${{ needs.create-tag.outputs.tag_name }}"

    - name: ECR Login
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Docker Image Build and Push to ECR
      run: |
        docker build -t ${{ env.AWS_ACCOUNT_ID }}.${{ env.ECR_URL }}/${{ env.ECR_REPO }}:${{ env.TAG_NAME }} -f $GITHUB_WORKSPACE/$DOCKER_FILE $GITHUB_WORKSPACE/
        docker push ${{ env.AWS_ACCOUNT_ID }}.${{ env.ECR_URL }}/${{ env.ECR_REPO }}:${{ env.TAG_NAME }}
  

